// Breadcrumbs

.breadcrumbs {
  padding: 0 0 $padding/2 0;
  font-size: $small-font-size;

  li {
    display: inline-block;
    padding-right: 16px;
    margin-right: 8px;
    background: url("#{$imagePath}/chevron.svg") no-repeat 100% 50%;
    background-size: 9px 12px;

    .lt-ie9 & {

      &:before {
        background-image: url("#{$imagePath}/chevron.png");
      }
    }
  }

  li:last-child {
    background: none;
  }
}
