.filtered-list-summary {
  font-family: $font-family-sans-headings;
  display: flex;
  border-bottom: 1px solid $border-colour;
  .count {
    font-size: $base-font-size*4;
  }
  strong {
    padding: 20px 0 0 10px;
  }
}

.filtered-list-no-results {
  padding-top: $padding;
}

.filtered-list {
  @include col(2/3);
  float: right;
  @media screen and (max-width: $small-screen) {
    @include col(1);
    float: none;
    order: -1;
  }

  article {
    border-bottom: 1px solid $seperator-border-colour;
    padding: 0 0 $padding/2;
    h2 {
      font-size: $base-font-size*1.25;
      margin-bottom: 0.5em;
    }
    .attributes li {
      font-size: $small-font-size;
      display: inline;
      padding-right: $padding/2;
    }
  }
}

.sidebar-filters {
  @include col(1/3);
  padding-top: $padding;
  @media screen and (max-width: $small-screen) {
    @include col(1);
    float: none;
  }

  .filters {
    padding: $padding 0;
  }

  .filter-group {
    padding: 0 0 $padding 0;
    input[type=search], input[type=text], input[type=date] {
      width: 100%;
    }
  }
}

body.single .sidebar-filters {

  h2 {
    margin-top: 0;
  }
}
